@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1c242f;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    position: relative;
    min-height: 600px;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    margin-top: 0;
    margin-left: 5%;
    color: #dfdde0;
    font-size: 25px;
    font-weight: 800;
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #dfdde0;
    display:block;
    font-weight: 600;
    margin: 0.3px;
}

.menu .navbar ul li a:hover {
    color: #fd00ad;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.bg {
    position:absolute;
    width: 900px;
    z-index: -1;
    left: -100px;
    top: -300px;
}

.header-content {
    display: flex;
}

.header-txt {
    padding: 0;
    width: 40%;
    margin-top: 5%;
    margin-left: 10%;
}

.header-txt  h1 {
    font-size: 40px;
    line-height: 50px;
    color: #fefffd;
    font-weight: 300;
    margin-bottom: 30px;
}

.header-txt span {
    font-weight: 800;
}

.header-txt p {
    color: #d9d9d9;
    font-size: 16px;
    margin-bottom: 35px;
}

.header-img {
    width: 50%;
}

.lap {
    margin-top: 10%;
    margin-left: 1%;
    width: 550px;
}

.btn-1 {
    margin-left: 25%;
    display: inline-block;
    padding: 13px 35px;
    color: #fefffb;
    border-radius: 25px;
    background: linear-gradient(
        90deg,
        rgba(131,45,153,1) 33%,
        rgba(193, 58, 143, 1) 69%,
        rgba(196, 37, 116,1) 100%
    );
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.services {
    padding: 35px;
    text-align: center;
    margin-top: 40px;
}

.info {
    display: inline-flex;
    font-size: 14px;
    font-weight: 800;
    padding: 22px 45px;
    border-radius: 25px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #db4d8a;
    background-color: #40223a;
    margin-top: 15px;
    margin-bottom: 15px;
}

.services h2 {
    font-size: 40px;
    font-weight: 600;
    color:#fefffd;
    margin-bottom: 45px;
}

.services-content {
    display: flex;
    align-items: center;
}

.services-txt {
    width: 50%;
}

.services-card {
    display:flex;
    align-items:flex-start;
    background-color: #151c24;
    padding: 15px 10px;
    border-radius: 25px;
    width: 390px;
    margin: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.services-card img {
    width: 25px;
    margin-right: 25px;
}

.card-txt {
    text-align: left;
}

.card-txt h3 {
    font-size: 16px;
    font-weight: 600;
    color: #dfdde0;
    margin-bottom: 10px;
}

.card-txt p {
    font-size: 16px;
    color: #8d8d8d;
    margin-bottom: 10px;
}

.card-txt a {
    font-size: 16px;
    font-weight: 600;
    color: #dfdde0;
    margin-bottom: 10px;
}

.services-img {
    width: 50%;
}

.services-img img {
    width: 50px;
}

